@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif; }
  body h2 {
    text-align: center;
    font-size: 1.9rem;
    background-color: #1d2951;
    color: #fff;
    margin: 0;
    height: 60px;
    line-height: 60px; }

.home, .about, .skill, .link {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out; }

.home {
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive; }
  .home .typing-animation {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .home .typing-animation-1 {
    top: 7rem;
    line-height: 5rem; }
  .home .typing-animation-2 {
    top: 10rem;
    line-height: 8rem;
    font-size: 3.5rem; }
  .home .typing-animation-3 {
    top: 10rem;
    font-size: 4rem; }
  .home .typing-animation-4 {
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 4rem; }
  .home .button-wrapper {
    width: 100%;
    position: absolute;
    bottom: 30%;
    display: flex;
    justify-content: space-around; }
    .home .button-wrapper button {
      display: inline-block;
      border-radius: 9px;
      width: 15rem;
      height: 5rem;
      font-family: 'Indie Flower', cursive;
      font-size: 2rem;
      background-color: #2B8AE9;
      cursor: pointer;
      transition: all 0.1s linear; }
    .home .button-wrapper .yes {
      position: relative; }
    .home .button-wrapper .yes:hover {
      background-color: #24D62D; }
    .home .button-wrapper .yes::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(./images/finger.png);
      background-size: cover;
      position: absolute;
      left: -60px;
      top: 0;
      animation: pointing 1s infinite linear; }
    .home .button-wrapper .no:hover {
      background-color: #C7112F; }

.about {
  overflow: hidden; }
  .about .video-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: -1; }
  .about video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -1; }
  .about .about-me-wrap {
    max-width: 1170px;
    margin: auto;
    font-size: 1.6rem;
    line-height: 3.1rem; }
    .about .about-me-wrap .about-me-box {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0 6rem; }
      .about .about-me-wrap .about-me-box .my-bio {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.8rem;
        float: left;
        width: 250px;
        height: 250px;
        margin: 0 25px 0 0;
        background-image: url(./images/bio.jpg);
        background-size: cover; }
      .about .about-me-wrap .about-me-box p {
        color: #fff; }

.skill .skill-set-wrap {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.25rem;
  padding: 1.3rem 0; }
  .skill .skill-set-wrap .skill-set-upper-row, .skill .skill-set-wrap .skill-set-lower-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem; }
    .skill .skill-set-wrap .skill-set-upper-row p, .skill .skill-set-wrap .skill-set-lower-row p {
      font-size: 1.9rem;
      margin-bottom: 1rem; }
    .skill .skill-set-wrap .skill-set-upper-row canvas, .skill .skill-set-wrap .skill-set-lower-row canvas {
      background-color: #fff;
      width: 12.5rem;
      height: 12.5rem; }

.link .links-wrap {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  text-align: center;
  padding-top: 1.3rem; }
  .link .links-wrap .links-description {
    padding: 1.9rem; }
  .link .links-wrap .links-box {
    display: flex;
    justify-content: space-around;
    margin: 1.9rem; }
  .link .links-wrap img {
    display: none; }
  .link .links-wrap canvas {
    background-color: #fff;
    width: 12.5rem;
    height: 12.5rem; }
  .link .links-wrap #codepen-canvas {
    width: 600px; }

.nav {
  position: fixed;
  right: -7rem;
  top: 50%;
  transform: translateY(-50%); }
  .nav .btn {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color: #fff;
    background-color: #2B8AE9;
    border-radius: 15px;
    display: block;
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.8s ease;
    opacity: 0.4; }
    .nav .btn:hover {
      transform: translateX(-7rem);
      opacity: 1; }

.rotate-enter {
  transform: rotateY(-90deg); }

.rotate-enter.rotate-enter-active {
  transform: rotateY(0deg); }

.rotate-leave {
  transform: rotateY(0deg);
  position: absolute;
  top: 0; }

.rotate-leave.rotate-leave-active {
  transform: rotateY(90deg); }

.Typist .Cursor {
  display: inline-block; }

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1.2s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pointing {
  0% {
    transform: translateX(-30px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-30px); } }

/*# sourceMappingURL=App.css.map */
