@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fjalla One', sans-serif;

    h2 {
        text-align: center;
        font-size: 1.9rem;
        background-color: #1d2951;
        color: #fff;
        margin: 0;
        height: 60px;
        line-height: 60px;
    }
}

.clear-float {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.home, .about, .skill, .link {
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}


.home {
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;

    .typing-animation {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .typing-animation-1 {
        top: 7rem;
        line-height: 5rem;
    }
    .typing-animation-2 {
        top: 10rem;
        line-height: 8rem;
        font-size: 3.5rem;
    }
    .typing-animation-3 {
        top: 10rem;
        font-size: 4rem;
    }
    .typing-animation-4 {
        top: 50%;
        transform: translate(-50%, -100%);
        font-size: 4rem;
    }

    .button-wrapper {
        width: 100%;
        position: absolute;
        bottom: 30%;
        display: flex;
        justify-content: space-around;

        button {
            display: inline-block;
            border-radius: 9px;
            width: 15rem;
            height: 5rem;
            font-family: 'Indie Flower', cursive;
            font-size: 2rem;
            background-color: #2B8AE9;
            cursor: pointer;
            transition: all 0.1s linear;
        }
        
        .yes{
            position: relative;
        }
        .yes:hover {
            background-color: #24D62D;
        }
        .yes::after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background-image: url(./images/finger.png);
            background-size: cover;
            position: absolute;
            left: -60px;
            top: 0;
            animation: pointing 1s infinite linear;
        }

        .no:hover {
            background-color: #C7112F;
        }
    }
}



.about {
    overflow: hidden;
    .video-layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        z-index: -1;
    }

    video {
        position: fixed;  
        right: 0px;  
        bottom: 0px;  
        min-width: 100%;  
        min-height: 100%;  
        height: auto;  
        width: auto;
        z-index: -1;
    }
    .about-me-wrap {
        max-width: 1170px;
        margin: auto;
        font-size: 1.6rem;
        line-height: 3.1rem;

        .about-me-box {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            padding: 0 6rem;
            .my-bio {
                display: flex;
                flex-wrap: wrap;
                border-radius: 0.8rem;
                float: left;
                width: 250px;
                height: 250px;
                margin: 0 25px 0 0;
                background-image: url(./images/bio-color.jpg);
                background-size: cover;
                .piece {
                    animation: fly-back 0.5s;
                    &:first-child {
                        border-top-left-radius: 0.8rem;
                    }
                    &:nth-child(10) {
                        border-top-right-radius: 0.8rem;
                    }
                    &:nth-child(111) {
                        border-bottom-left-radius: 0.8rem;
                    }
                    &:last-child {
                        border-bottom-right-radius: 0.8rem;
                    }
                }

                .fly-away {
                    animation: fly 10s;
                }
            }
    
            p {
                color: #fff;
            }
        }
    }
}

.background-image-1 {
    background-image: url(./images/bg-web.jpg)!important;
}

.background-image-2 {
    background-image: url(./images/bg-web-2.jpg)!important;
}

.skill {
    transition: all 1s ease-in-out;
    background-image: url(./images/bg-front-end.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .skill-background {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .skill-set-wrap {
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
        font-size: 3rem;
        padding: 3rem 0;

        .skill-pic {
            width: 100px;
            height: 100px;
            float: left;
            margin: 1rem;
            opacity: 0.8;
            transition: all 0.5s;
            cursor: pointer;
            animation: shake 5s infinite linear;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                opacity: 1;
                transform: scale(1.2);
                animation: pause;
            }
        }

        .skill-set-right {
            color: #fff;
            .loadingCircle {
                margin-top: 3rem;
            }
        }
    }
}

.link {
    .links-wrap {
        max-width: 1170px;
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.9rem;
        text-align: center;
        padding-top: 1.3rem;

        .links-description {
            padding: 1.9rem;
        }

        .links-box {
            display: flex;
            justify-content: space-around;
            margin: 1.9rem;	
        }

        img {
            display: none;
        }

        canvas {
                background-color: #fff;
                width: 12.5rem;
                height: 12.5rem;
            }

        #codepen-canvas {
            width: 600px;
        }
    }
}

.navigation {
    position: fixed;
    right: -7rem;
    top: 50%;
    transform: translateY(-50%);
    .btn-navigation {
        font-family: 'Fjalla One', sans-serif;
        font-size: 2rem;
        color: #fff;
        background-color: #2B8AE9;
        border-radius: 15px;
        display: block;
        width: 10rem;
        height: 4rem;
        line-height: 4rem;
        margin-bottom: 2rem;
        cursor: pointer;
        transition: all 0.8s ease;
        opacity: 0.4;

        &:hover {
            transform: translateX(-7rem);
            opacity: 1;
        }
    }
}

.rotate-enter {
    transform: rotateY(-90deg);
}

.rotate-enter.rotate-enter-active {
    transform: rotateY(0deg);

}

.rotate-leave {
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
}

.rotate-leave.rotate-leave-active {
    transform: rotateY(90deg);
}






.Typist .Cursor {
    display: inline-block; 
}
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1.2s linear infinite; 
}

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; } 
}

@keyframes pointing {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-30px);
    }
}

@keyframes fly {
    0% {
        transform: translate(0,0);
    }
    5% {
        transform: translate(-50px, -30px);
    }
    7% {
        transform: translate(-1000px, -30px);
    }
    100% {
        transform: translate(-1000px, -30px);
    }
}

@keyframes fly-back {
    0% {
        transform: translate(-1000px, -30px);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(-10deg);
    }
    3% {
        transform: rotateZ(10deg);
    }
    6% {
        transform: rotateZ(-7deg);
    }
    9% {
        transform: rotateZ(7deg);
    }
    12% {
        transform: rotateZ(-3deg);
    }
    15% {
        transform: rotateZ(3deg);
    }
    18% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}