@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif; }
  body h2 {
    text-align: center;
    font-size: 1.9rem;
    background-color: #1d2951;
    color: #fff;
    margin: 0;
    height: 60px;
    line-height: 60px; }

.clear-float::after {
  content: "";
  display: block;
  clear: both; }

.home, .about, .skill, .link {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out; }

.home {
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive; }
  .home .typing-animation {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .home .typing-animation-1 {
    top: 7rem;
    line-height: 5rem; }
  .home .typing-animation-2 {
    top: 10rem;
    line-height: 8rem;
    font-size: 3.5rem; }
  .home .typing-animation-3 {
    top: 10rem;
    font-size: 4rem; }
  .home .typing-animation-4 {
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 4rem; }
  .home .button-wrapper {
    width: 100%;
    position: absolute;
    bottom: 30%;
    display: flex;
    justify-content: space-around; }
    .home .button-wrapper button {
      display: inline-block;
      border-radius: 9px;
      width: 15rem;
      height: 5rem;
      font-family: 'Indie Flower', cursive;
      font-size: 2rem;
      background-color: #2B8AE9;
      cursor: pointer;
      transition: all 0.1s linear; }
    .home .button-wrapper .yes {
      position: relative; }
    .home .button-wrapper .yes:hover {
      background-color: #24D62D; }
    .home .button-wrapper .yes::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(./images/finger.png);
      background-size: cover;
      position: absolute;
      left: -60px;
      top: 0;
      animation: pointing 1s infinite linear; }
    .home .button-wrapper .no:hover {
      background-color: #C7112F; }

.about {
  overflow: hidden; }
  .about .video-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: -1; }
  .about video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -1; }
  .about .about-me-wrap {
    max-width: 1170px;
    margin: auto;
    font-size: 1.6rem;
    line-height: 3.1rem; }
    .about .about-me-wrap .about-me-box {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0 6rem; }
      .about .about-me-wrap .about-me-box .my-bio {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.8rem;
        float: left;
        width: 250px;
        height: 250px;
        margin: 0 25px 0 0;
        background-image: url(./images/bio-color.jpg);
        background-size: cover; }
        .about .about-me-wrap .about-me-box .my-bio .piece {
          animation: fly-back 0.5s; }
          .about .about-me-wrap .about-me-box .my-bio .piece:first-child {
            border-top-left-radius: 0.8rem; }
          .about .about-me-wrap .about-me-box .my-bio .piece:nth-child(10) {
            border-top-right-radius: 0.8rem; }
          .about .about-me-wrap .about-me-box .my-bio .piece:nth-child(111) {
            border-bottom-left-radius: 0.8rem; }
          .about .about-me-wrap .about-me-box .my-bio .piece:last-child {
            border-bottom-right-radius: 0.8rem; }
        .about .about-me-wrap .about-me-box .my-bio .fly-away {
          animation: fly 10s; }
      .about .about-me-wrap .about-me-box p {
        color: #fff; }

.background-image-1 {
  background-image: url(./images/bg-web.jpg) !important; }

.background-image-2 {
  background-image: url(./images/bg-web-2.jpg) !important; }

.skill {
  transition: all 1s ease-in-out;
  background-image: url(./images/bg-front-end.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .skill .skill-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  .skill .skill-set-wrap {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0; }
    .skill .skill-set-wrap .skill-box {
      max-width: 1170px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .skill .skill-set-wrap .skill-box .skill-set-left {
        padding-top: 20px; }
    .skill .skill-set-wrap .skill-pic {
      width: 100px;
      height: 100px;
      float: left;
      margin: 1rem;
      opacity: 0.8;
      transition: all 0.5s;
      cursor: pointer;
      animation: shake 5s infinite linear; }
      .skill .skill-set-wrap .skill-pic img {
        width: 100%;
        height: 100%; }
      .skill .skill-set-wrap .skill-pic:hover {
        opacity: 1;
        transform: scale(1.2);
        animation: pause; }
    .skill .skill-set-wrap .skill-set-right {
      color: #fff; }
      .skill .skill-set-wrap .skill-set-right .loadingCircle {
        margin-top: 3rem; }

.link {
  background-image: url(./images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .link .link-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  .link .links-wrap {
    max-width: 1170px;
    margin: auto;
    font-size: 1.9rem;
    text-align: center;
    padding-top: 1.3rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%); }
    .link .links-wrap .links-box .prompt-box, .link .links-wrap .links-box .email-box, .link .links-wrap .links-box .map-box {
      margin-top: 3rem;
      color: rgba(255, 255, 255, 0.7); }
      .link .links-wrap .links-box .prompt-box a, .link .links-wrap .links-box .email-box a, .link .links-wrap .links-box .map-box a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.5s; }
        .link .links-wrap .links-box .prompt-box a:hover, .link .links-wrap .links-box .email-box a:hover, .link .links-wrap .links-box .map-box a:hover {
          color: white; }
    .link .links-wrap .links-box .prompt-box {
      color: #F81010; }
    .link .links-wrap .links-box .map-box div {
      margin-top: 1rem;
      height: 13rem; }
      .link .links-wrap .links-box .map-box div iframe {
        width: 80%;
        height: 100%; }
    .link .links-wrap .links-box .row {
      margin-top: 4rem; }
    .link .links-wrap .links-box .links-icon {
      width: 13rem;
      height: 13rem;
      position: relative; }
      .link .links-wrap .links-box .links-icon img {
        width: 100%;
        height: 100%; }
        .link .links-wrap .links-box .links-icon img:hover {
          opacity: 0;
          transition: all 0.5s linear; }
      .link .links-wrap .links-box .links-icon .particle-image img {
        display: none; }
      .link .links-wrap .links-box .links-icon .particle-image canvas {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 13rem;
        height: 13rem; }

.navigation {
  position: fixed;
  right: -7rem;
  top: 50%;
  transform: translateY(-50%); }
  .navigation .btn-navigation {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color: #fff;
    background-color: #2B8AE9;
    border-radius: 15px;
    display: block;
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.8s ease;
    opacity: 0.4; }
    .navigation .btn-navigation:hover {
      transform: translateX(-7rem);
      opacity: 1; }

.rotate-enter {
  transform: rotateY(-90deg); }

.rotate-enter.rotate-enter-active {
  transform: rotateY(0deg); }

.rotate-leave {
  transform: rotateY(0deg);
  position: absolute;
  top: 0; }

.rotate-leave.rotate-leave-active {
  transform: rotateY(90deg); }

.Typist .Cursor {
  display: inline-block; }

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1.2s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pointing {
  0% {
    transform: translateX(-30px); }
  50% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-30px); } }
@keyframes fly {
  0% {
    transform: translate(0, 0); }
  5% {
    transform: translate(-50px, -30px); }
  7% {
    transform: translate(-1000px, -30px); }
  100% {
    transform: translate(-1000px, -30px); } }
@keyframes fly-back {
  0% {
    transform: translate(-1000px, -30px); }
  100% {
    transform: translate(0, 0); } }
@keyframes shake {
  0% {
    transform: rotateZ(-10deg); }
  3% {
    transform: rotateZ(10deg); }
  6% {
    transform: rotateZ(-7deg); }
  9% {
    transform: rotateZ(7deg); }
  12% {
    transform: rotateZ(-3deg); }
  15% {
    transform: rotateZ(3deg); }
  18% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(0deg); } }
@media screen and (min-width: 1500px) {
  html {
    font-size: 20px; }
    html .loadingCircle {
      margin: 0 !important; }
      html .loadingCircle canvas {
        width: 400px;
        height: 400px; }
    html .skill-pic {
      width: 110px !important;
      height: 110px !important; }
    html .about-me-wrap, html .skill-set-wrap, html .links-wrap {
      max-width: 1400px !important; }
    html .skill-box {
      max-width: 1400px !important; } }
@media screen and (max-width: 1200px) {
  html .skill-box {
    margin-left: 30px; }
  html .skill-pic {
    width: 90px !important;
    height: 90px !important; }
  html .loadingCircle {
    transform: translateX(-50px); } }
@media screen and (max-width: 1070px) {
  html {
    font-size: 14px; }
    html body::after {
      color: #666;
      content: "Hold on the blue menu buttons on the right hand side to trigger them (other than home page).";
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 20px; }
    html .my-bio {
      width: 200px !important;
      height: 200px !important; }
    html .skill-box {
      margin-left: 30px; }
    html .skill-pic {
      width: 80px !important;
      height: 80px !important; } }
@media screen and (max-width: 950px) {
  html {
    font-size: 12px; }
    html .skill-pic {
      width: 70px !important;
      height: 70px !important; }
    html .loadingCircle canvas {
      width: 18rem;
      height: 18rem; } }
@media screen and (max-width: 830px) {
  html .my-bio {
    width: 170px !important;
    height: 170px !important; }
  html .loadingCircle {
    transform: translate(-50px, 40px); }
  html .links-icon {
    width: 11rem !important;
    height: 11rem !important; }
    html .links-icon .particle-image canvas {
      width: 11rem !important;
      height: 11rem !important; } }
@media screen and (max-width: 768px) {
  html .about {
    background-color: #000; }
  html .skill {
    background-position-x: -100px; }
    html .skill .loadingCircle {
      transform: translate(-20px, 0) !important; }
  html .map-box {
    display: none; }
  html .link {
    background-position-x: -100px; }
    html .link .links-box a {
      display: flex;
      justify-content: center; } }
@media screen and (max-width: 710px) {
  html {
    font-size: 10px; }
    html .about video {
      width: 150%; }
    html .skill-pic {
      width: 60px !important;
      height: 60px !important; } }
@media screen and (max-width: 480px) {
  html .home .button-wrapper {
    bottom: 20% !important;
    flex-wrap: wrap; }
    html .home .button-wrapper div {
      width: 100%;
      text-align: center;
      padding-top: 20px; }
  html .about video {
    width: 200%; }
  html .my-bio {
    width: 140px !important;
    height: 140px !important; }
  html .skill {
    background-position-x: -200px; }
    html .skill .skill-pic {
      width: 50px !important;
      height: 50px !important; }
  html .link {
    background-position-x: -300px; } }
@media screen and (max-width: 375px) {
  html {
    font-size: 8px; }
    html .my-bio {
      width: 100px !important;
      height: 100px !important; }
    html .skill .skill-pic {
      width: 40px !important;
      height: 40px !important; } }

/*# sourceMappingURL=App.css.map */
